Library/
.vs/
Logs/
.idea/
obj/
UserSettings/
.vsconfig
Assembly-CSharp.csproj
README.md
TIMI_TTB.sln
UserSettings/Layouts/default-2021.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
